<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">Angular Home Component</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/home">Home <span class="sr-only">(current)</span></a></li>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/event" *ngIf="this.loginService.isLogin()">Event</a></li>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/event/admin" *ngIf="this.loginService.isLogin() && this.loginService.isAdmin()">Event (Admin)</a></li>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/report/user" *ngIf="this.loginService.isLogin()">User Report</a></li>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/report/admin" *ngIf="this.loginService.isLogin() && this.loginService.isAdmin()">Admin Report</a></li>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/report/eventparticipant" *ngIf="this.loginService.isLogin() && this.loginService.isAdmin()">Event Details Report</a></li>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/report/orgevent" *ngIf="this.loginService.isLogin()">Organisation's Event</a></li>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/report/eventFeedback" *ngIf="this.loginService.isLogin()">Event Feedback</a></li>
        <li class="dropdown" appDropdown>
          <a style="cursor: pointer;" class="dropdown-toggle" role="button" *ngIf="this.loginService.isLogin()">Organizaiton <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer;" routerLink="/organization/group">Organisation group</a></li>
            <li><a style="cursor: pointer;" routerLink="/organization/accesses">Admin management</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <ul class="nav navbar-nav">
          <li><a routerLink="/login" *ngIf="!this.loginService.isLogin()">Login <span class="sr-only">(current)</span></a></li>
        </ul>
        <li class="dropdown" appDropdown>
          <a style="cursor: pointer;" class="dropdown-toggle" role="button" *ngIf="this.loginService.isLogin()">Profile <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer;" routerLink="/profile/edit-profile">Edit My Profile</a></li>
            <li><a style="cursor: pointer;" routerLink="/profile/my-event">My Events</a></li>
            <li><a style="cursor: pointer;" (click)="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
