<h1> Sign up </h1>
<form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
  <div class="form-group">
    <input type="text" name="email" placeholder="Enter Your Email" ngModel class="form-control">
  </div>
  <br />
  <div class="form-group">
    <input type="text" name="firstname" placeholder="Your Firstname" ngModel class="form-control">
  </div>
  <br />
  <div class="form-group">
    <input type="text" name="lastname" placeholder="Your Lastname" ngModel class="form-control">
  </div>
  <br/>
  <div class="form-group">
    <input type="password" name="password" placeholder="Enter Your Password" ngModel class="form-control">
  </div>
  <br />
  <div class="form-group">
    <input type="text" name="gender" placeholder="Enter Your gender" ngModel class="form-control">
  </div>
  <br />
  <div class="form-group">
    <input type="text" name="birthday" placeholder="Enter Your birthday" ngModel class="form-control">
  </div>
  <br />
  <div class="form-group">
    <input type="text" name="nationality" placeholder="Enter Your nationality" ngModel class="form-control">
  </div>
  <br />
  <div class="form-group">
    <input type="text" name="interest" placeholder="Enter Your interest" ngModel class="form-control">
  </div>
  <br />
  <div class="form-group">
    <input type="text" name="region" placeholder="Enter Your region" ngModel class="form-control">
  </div>
  <br />
  <input type="submit" value="Register" class="btn btn-primary">
</form>
