<!-- TO DO EVENT PAGE -->

<div class="container">
  <div class="row">
    <div class="search-bar">
      <input size="100" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search event" (keyup.enter)="searchAllEvents(searchText)">
    </div>
  </div>

</div>
<h2> Here are some nice events!</h2>


<div class="panel panel-default" *ngFor="let event of events">
  <div class="panel-heading">
    <h3 class="panel-title">
      <a [title]="event.EventName ">
        {{event.EventName}}
      </a>
    </h3>
  </div>
  <div class="panel-body">
    <p *ngIf="event.EventDescription">
      Description: {{ event.EventDescription }}
    </p>

    <p *ngIf="event.StartTime">
      Date: {{ event.StartTime }}
    </p>
    <p *ngIf="isRegistered(event.EventID)">
      You are registered :)
    </p>
    <button class="btn btn-danger" *ngIf="isRegistered(event.EventID, currUserId)" (click)="withdraw(event.EventID)">
        Withdraw
      </button>
    <button class="btn btn-primary" *ngIf="!isRegistered(event.EventID, currUserId)" (click)="register(event.EventID)">
      Register
    </button>
  </div>

</div>