<!-- TO DO EVENT PAGE -->

<div class="container">
  <div class="row">
      <div class="search-bar">
        <input size="100" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search event"
        (keyup.enter)="searchAllEvents(searchText)">
      </div>
  </div> 

</div>
<h2> Here are some nice events!</h2>
<div class="panel panel-default" *ngFor="let event of events">
  <div class="panel-heading">
    <h3 class="panel-title">
      <a [title]="event.name + ' description'">
        {{event.name}}
      </a>
    </h3>
  </div>
  <div class="panel-body">
    <p *ngIf="event.description">
      Description: {{ event.description }}
    </p>

    <p *ngIf="event.date">
      Date: {{ event.date }}
    </p>
    <p *ngIf="isRegistered(event.id)">
      You are registered :)
    </p>
    <button *ngIf="isRegistered(event.id, currUserId)" (click)="withdraw(event.id)">
        Withdraw
      </button>
    <button *ngIf="!isRegistered(event.id, currUserId)" (click)="register(event.id)">
      Register
    </button>
  </div>

</div>